appdirs==1.4.3
asgiref==3.2.7
distlib==0.3.0
Django==3.1.13
django-summernote==0.8.11.6
filelock==3.0.12
importlib-metadata==1.6.0
importlib-resources==1.4.0
pbr==5.4.5
pytz==2019.3
six==1.14.0
sqlparse==0.3.1
stevedore==1.32.0
virtualenv==20.0.18
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
zipp==3.1.0
