{% load static %}

<html>

<head>
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
     -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand">Kubo's Note</a>
    </nav>


</head>

<body>
    <div id="content">
        <div class="container-fluid">
            <div class="top-image">
                <div class="profile_box">
                    <div class="profile_center">
                        <img src="{% static 'profileimagepng.png' %}" class="profile_figure">
                        <div class="profile_name">Name：Kubo Kenta</div>
                        メモ程度に残しておきたい内容を投稿します。
                        主に私が見返す用です。
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    </div>
                </div>
            </div>




            <div class="col-sm-12">
                <a class="btn" href="/" role="button">ALL</a>
                {% for allcategory in allcategory %}
                <a class="btn" href="/category/{{ allcategory.name }}" role="button">{{ allcategory.name }}</a>
                {% endfor %}

                <div class="card-deck">
                    {% for post in posts %}
                    <div class="col-md-6">
                        <div class="card" href="#">
                            <div class="post">
                                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                                <div class="date">
                                    {{ post.published_date }}
                                    <br>
                                    Category：{{ post.category }}
                                    <hr>
                                </div>
                                <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                                <!-- {{ post.summary }} 投稿一覧にサマリーを追加したいときに追加する--> 
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>